doctype html
html
  head
    title My Mobile File Server
    link(rel="stylesheet",type="text/css",href="/public/vendor/css/bootstrap.min.css")
    link(rel="stylesheet",type="text/css",href="/public/vendor/css/bootstrap-theme.min.css")
    link(rel="stylesheet",type="text/css",href="/public/default.css")
    script(type="text/javascript",src="/public/vendor/jquery.min.js")
    script(type="text/javascript",src="/public/main.js")
    body
      .container
        block content
