extends ./layout.jade
block head
    style.
      a.highlight {
        background: #ffff4f;
        border-color: #E9DC51;
        text-decoration:none;
        font:12px/20px "Consolas Sans-serif";
      }
block content
  h4 以下文件已存在，请更换文件名后重新上传
  ul
    each name in names
      li
        a.highlight(href="javascript:void(0);",title="Please change name")= name
    br
  a(href="/") 返回